//- accessibility-policy.pug

extends layout

block content
  section.text
    h1#accessibility Politique d’Accessibilité
    p Chez diyable, nous nous engageons à garantir l’accessibilité de notre site web à tous les utilisateurs, y compris les personnes en situation de handicap. Nous nous efforçons de respecter les normes internationales d’accessibilité pour offrir une expérience utilisateur optimale à chacun.
    
    h2 Engagement envers l’Accessibilité
    p Notre objectif est de rendre notre site accessible conformément aux Web Content Accessibility Guidelines (WCAG) 2.1 niveau AA. Nous nous engageons à :
    ul
      li Fournir un contenu percevable, utilisable, compréhensible et robuste.
      li Assurer la compatibilité avec les technologies d’assistance.
      li Améliorer continuellement l’accessibilité de notre site.

    h2 Fonctionnalités d’Accessibilité
    p Pour faciliter l’accès à notre site, nous avons mis en place plusieurs fonctionnalités, notamment :
    ul
      li Options de navigation au clavier
      li Texte alternatif pour les images
      li Contraste élevé pour une meilleure lisibilité
      li Possibilité d’ajuster la taille du texte

    h2 Retours et Assistance
    p Si vous rencontrez des difficultés pour accéder à une partie de notre site ou si vous avez des suggestions pour améliorer son accessibilité, n’hésitez pas à nous contacter :
    ul
      li Email : accesibilite@diyable.com
      li Téléphone : +33 1 23 45 67 89
      li Formulaire de contact : [Lien vers le formulaire]

    h2 Conformité et Amélioration Continue
    p Nous révisons régulièrement notre politique d’accessibilité et apportons les améliorations nécessaires pour répondre aux exigences légales et aux besoins de nos utilisateurs. Votre retour est précieux pour nous aider à créer un environnement en ligne inclusif.

    p Merci de votre visite et de votre confiance.

block scripts
  script(src="/script.js")
