//- contact.pug

extends layout

block content
  section#text
    br
    br
    br
    h1 Contactez-Nous
    p Vous avez des questions ou des suggestions ? N'hésitez pas à nous contacter !

block scripts
  script(src="/script.js")
