doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title + " - DIY able"
    link(rel="stylesheet" href="/styles.css")
  body
    header
      div.logo
        img(src="/images/logo-diyable.jpeg" alt="DIY able logo")
      nav
        ul
          li: a(href="/") Accueil
          li: a(href="/projets") Projets
          li: a(href="#about") À Propos
          li: a(href="/contact") Contact
          if username
            li
              a(href="javascript:void(0)" id="usernameDropdown" onclick="toggleDropdown()") #{username} 
              ul(id="dropdownMenu" class="dropdown-menu")
                li: a(href="/profile") Mon Profil
                li: a(href="/logout") Déconnexion
          else
            li: a(href="/login") 
              button(type="button" id="connexion") Connexion
    main
      section#contact
        h1 Contactez-Nous
        p Vous avez des questions ou des suggestions ? N'hésitez pas à nous contacter !
    footer
      p © 2024 DIY able - Tous droits réservés
    script(src="/script.js")
