extends layout

block content
  h1#titleCreate Ajouter un Projet

  form(action='/projets/ajouter' method='POST' enctype='multipart/form-data')
    // **Ajout du jeton CSRF**
    input(type='hidden' name='_csrf' value=csrfToken)
    div
      label(for='name') Nom du projet:
      input(type='text' name='name' required)
    div
      label(for='description') Description:
      textarea(name='description' required)
    div
      label(for='category') Catégorie:
      input(type='text' name='category' required)
    div
      label(for='image') Image:
      input(type='file' name='image' accept='image/*')
    div
      button(type='submit') Soumettre
