extends layout

block content
    section#text
        br
        h1 Mentions Légales de DIYable
        p Dernière mise à jour : le 12 novembre 2024
        br
        section
            h2 1. Présentation du site
            p Conformément à l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site DIYable l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
            p 
            | Propriétaire : [Nom du propriétaire ou de la société] – [Statut juridique (ex : SAS, SARL)] au capital de [Montant en euros] – Siège social : [Adresse complète]
            p 
            | Responsable de publication : [Nom du responsable de publication] – [Fonction]
            p Hébergeur : [Nom de l'hébergeur] – [Adresse complète de l'hébergeur] – [Numéro de téléphone de l'hébergeur]

        section
            h2 2. Conditions générales d'utilisation du site et des services proposés
            p L’utilisation du site DIYable implique l’acceptation pleine et entière des conditions générales d’utilisation décrites dans les 
            a(href="/terms-of-service") Conditions d'utilisation.
            p Ces conditions sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site sont donc invités à les consulter de manière régulière.

        section
            h2 3. Description des services fournis
            p Le site DIYable a pour objet de fournir une plateforme permettant aux utilisateurs de partager et de découvrir des projets de bricolage et d'objets connectés (IoT). Le propriétaire du site s’efforce de fournir des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.

        section
            h2 4. Limitations contractuelles sur les données techniques
            p Le site utilise la technologie [technologies utilisées, ex : Pug, SQL, etc.] pour offrir une meilleure expérience utilisateur. Il ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site.

        section
            h2 5. Propriété intellectuelle et contrefaçons
            p DIYable détient les droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logos, vidéos, icônes, et logiciels. Toute reproduction, représentation, modification, publication, ou adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de DIYable.

        section
            h2 6. Limitation de responsabilité
            p DIYable ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site, résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées, soit de l’apparition d’un bug ou d’une incompatibilité.
            p DIYable ne pourra également être tenu responsable des dommages indirects consécutifs à l’utilisation du site.

        section
            h2 7. Gestion des données personnelles
            p Pour plus d'informations sur la collecte et le traitement des données personnelles, consultez notre 
            a(href="/privacy-policy") Politique de Confidentialité.

        section
            h2 8. Liens hypertextes
            p Le site DIYable contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation du propriétaire du site. Cependant, le propriétaire du site n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.

        section
            h2 9. Droit applicable et attribution de juridiction
            p Tout litige en relation avec l’utilisation du site DIYable est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de [nom de la juridiction compétente].

        section
            h2 10. Contact
            p Pour toute question relative aux présentes Mentions Légales, vous pouvez nous contacter à contact@diyable.com
