extends layout

block content
    section#text
        br
        h1 Politique de Confidentialité de DIYable
        p Dernière mise à jour : 12 novembre 2024
        br
        section
            p Chez DIYable, nous prenons la confidentialité de nos utilisateurs très au sérieux. Cette Politique de Confidentialité explique comment nous collectons, utilisons, et protégeons vos informations personnelles lorsque vous utilisez notre site web.

        section
            h2 1. Informations que nous collectons
            ul
            li 
                strong Informations fournies par l'utilisateur : 
                | Lorsque vous créez un compte, nous collectons votre nom d'utilisateur, votre adresse email et votre mot de passe. Vous pouvez également choisir de fournir d'autres informations via votre profil.
            li 
                strong Informations collectées automatiquement : 
                | Lorsque vous utilisez notre Site, nous collectons automatiquement certaines informations, telles que votre adresse IP, le type de navigateur, les pages visitées, et les interactions sur le Site, via des cookies et des technologies similaires.

        section
            h2 2. Utilisation de vos informations
            p Nous utilisons les informations collectées pour :
            ul
            li Gérer et améliorer votre expérience utilisateur.
            li Vous envoyer des communications pertinentes, telles que des mises à jour, des notifications ou des informations relatives à nos services.
            li Améliorer notre Site, y compris l'analyse des comportements des utilisateurs pour optimiser nos services.

        section
            h2 3. Partage de vos informations
            p Nous ne vendons pas vos informations personnelles. Nous pouvons partager vos données dans les cas suivants :
            ul
            li 
                | Avec des fournisseurs de services tiers qui nous aident à gérer et exploiter notre Site, sous réserve de la confidentialité de vos données.
            li 
                | Pour nous conformer à des obligations légales, protéger nos droits, ou répondre à des demandes légitimes d'autorités publiques.

        section
            h2 4. Cookies et technologies similaires
            p DIYable utilise des cookies pour améliorer votre expérience en ligne. Les cookies sont de petits fichiers texte stockés sur votre appareil lorsque vous visitez notre Site. Ils nous permettent de mémoriser vos préférences et d'améliorer la qualité de nos services.
            p Vous pouvez configurer votre navigateur pour refuser les cookies, mais certaines fonctionnalités du Site peuvent ne pas fonctionner correctement.

        section
            h2 5. Sécurité de vos informations
            p Nous mettons en œuvre des mesures de sécurité techniques et organisationnelles pour protéger vos données personnelles contre l'accès non autorisé, la divulgation ou la destruction. Votre mot de passe est chiffré avec SHA-512 et un sel pour assurer une sécurité renforcée.

        section
            h2 6. Vos droits
            p Vous disposez des droits suivants concernant vos informations personnelles :
            ul
            li Accéder à vos données personnelles.
            li Corriger ou mettre à jour vos informations.
            li Demander la suppression de vos données.
            p Pour exercer ces droits, veuillez nous contacter à contact@diyable.com

        section
            h2 7. Conservation des données
            p Nous conservons vos informations personnelles aussi longtemps que nécessaire pour fournir nos services ou pour se conformer aux obligations légales.

        section
            h2 8. Modifications de la Politique de Confidentialité
            p DIYable peut modifier cette Politique de Confidentialité. Les modifications seront publiées sur cette page, et la date de mise à jour sera révisée en conséquence.

        section
            h2 9. Contact
            p Pour toute question concernant cette Politique de Confidentialité, vous pouvez nous contacter à contact@diyable.com

block scripts
  script(src="/script.js")