doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title + " - DIY able"
    link(rel="stylesheet" href="/styles.css")
  body
    header
      div.logo
        img(src="/images/logo-diyable.jpeg" alt="DIY able logo")
      nav
        ul
          li: a(href="/") Accueil
          li: a(href="/projets") Projets
          li: a(href="#about") À Propos
          li: a(href="/contact") Contact
          li: a(href="/login") 
              button(type="button") Connexion
    main
      section.register
        h1 Créer un Compte
        form(id="registerForm" action="/register" method="post")
          div
            label(for="username") Nom d'utilisateur
            input(type="text" id="username" name="username" value=(username || '') required)
          div
            label(for="email") Adresse Email
            input(type="email" id="email" name="email" required)
          div
            label(for="password") Mot de passe
            input(type="password" id="password" name="password" required)
          button(type="submit") Créer un Compte
        br
    footer
      p © 2024 DIY able - Tous droits réservés