extends layout

block content
    section.text
        br
        h1#termsofservice Conditions d'Utilisation de DIYable
        p Dernière mise à jour : 12 Novembre 2024
        br
        p Bienvenue sur DIYable. En utilisant notre Site, vous acceptez de respecter et d'être lié par les présentes Conditions d'Utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le Site.

        section
            h2 1. Définition du service
            p DIYable est une plateforme en ligne permettant aux utilisateurs de partager et découvrir des projets de bricolage, d'électronique, et d'objets connectés (IoT). Les utilisateurs peuvent publier leurs propres tutoriels, interagir par le biais de commentaires, et réagir aux projets partagés par la communauté.

        section
            h2 2. Utilisation du Site
            ul
            li Vous devez être âgé de 10 ans pour utiliser notre Site.
            li L'inscription nécessite la fourniture d'un nom d'utilisateur, d'un mot de passe sécurisé (chiffré avec SHA-512 avec un sel pour garantir la sécurité), et d'une adresse email valide.
            li Vous êtes responsable de la confidentialité de votre mot de passe et de toutes les activités effectuées sous votre compte.

        section
            h2 3. Contenu utilisateur
            ul
            li En partageant du contenu sur DIYable (projets, commentaires, etc.), vous déclarez et garantissez que vous possédez ou avez les droits nécessaires pour publier ce contenu.
            li Vous accordez à DIYable une licence non exclusive, mondiale, et gratuite pour afficher, distribuer, et promouvoir votre contenu sur notre Site et les plateformes affiliées.
            li Les utilisateurs sont invités à respecter les lois en vigueur et à ne publier aucun contenu illégal, offensant, ou inapproprié. DIYable se réserve le droit de supprimer tout contenu qui enfreint ces règles.

        section
            h2 4. Propriété intellectuelle
            p Le contenu du Site, y compris les textes, images, logos, et designs, est protégé par les lois sur la propriété intellectuelle. Vous n'êtes pas autorisé à reproduire, distribuer ou modifier tout contenu du Site sans autorisation préalable.

        section
            h2 5. Collecte de données personnelles
            p DIYable collecte et stocke des informations personnelles telles que votre nom d'utilisateur et votre adresse email pour améliorer votre expérience utilisateur. Nous nous engageons à protéger votre vie privée conformément à notre 
            a(href='/privacy-policy') Politique de Confidentialité
            p Vous pouvez consulter, modifier ou demander la suppression de vos données personnelles en contactant notre support.

        section
            h2 6. Responsabilité limitée
            ul
            li DIYable ne garantit pas l'exactitude, la pertinence ou la sécurité des projets publiés par les utilisateurs. En utilisant ou en reproduisant un projet, vous acceptez d'assumer tous les risques associés.
            li DIYable décline toute responsabilité en cas de dommage, blessure ou perte résultant de l'utilisation des projets ou des informations publiées sur le Site.

        section
            h2 7. Suspension et résiliation du compte
            p Nous nous réservons le droit de suspendre ou de résilier votre compte à tout moment en cas de non-respect des présentes Conditions d'Utilisation, d'activités suspectes, ou de toute violation de la législation applicable.

        section
            h2 8. Modification des Conditions d'Utilisation
            p DIYable peut mettre à jour ces Conditions d'Utilisation à tout moment. Les modifications seront publiées sur le Site, et l'utilisation continue du Site après la mise à jour vaut acceptation des nouvelles conditions.

        section
            h2 9. Contact
            p Pour toute question ou préoccupation relative à ces Conditions d'Utilisation, vous pouvez nous contacter à contact@diyable.com

block scripts
  script(src="/script.js")