/* Variables de couleur */
:root {
  --primary-color: #007bff; /* Bleu principal */
  --primary-color-hover: #0056b3;
  --secondary-color: #28a745; /* Vert pour les accents */
  --secondary-color-hover: #218838;
  --text-color: #333;
  --background-color: #f7f7f7;
  --button-text-color: #fff;
  --hero-background: linear-gradient(135deg, #6db3f2 0%, #1e69de 100%);
  --hero-text-color: #fff;
  --footer-background-color: #fff;
  --footer-text-color: #333;
  --link-color: #555;
  --link-hover-color: var(--secondary-color);
  --comment-box-background: #eef2f7;
  --comment-date-color: #888;
  --delete-button-color: red;
  --delete-button-hover-color: darkred;
}


body.dark-mode {
  --primary-color: #90caf9; /* Bleu clair pour le mode sombre */
  --primary-color-hover: #5f9ea0;
  --secondary-color: #66bb6a; /* Vert clair pour le mode sombre */
  --secondary-color-hover: #4caf50;
  --text-color: #e0e0e0;
  --background-color: #121212;
  --button-text-color: #121212;
  
  /* Nouveau dégradé animé pour .hero */
  --hero-background: linear-gradient(270deg, #0d47a1, #1976d2, #6a1b9a, #8e24aa);
  
  --hero-text-color: #e0e0e0;
  --footer-background-color: #1e1e1e;
  --footer-text-color: #e0e0e0;
  --link-color: #bbb;
  --link-hover-color: var(--secondary-color);
  --comment-box-background: #1e1e1e;
  --comment-date-color: #aaa;
  --delete-button-color: #ff6666;
  --delete-button-hover-color: #ff4c4c;
}

/* Keyframes pour l'animation du dégradé */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


body.dark-mode .hero {
  background: var(--hero-background);
  background-size: 800% 800%; /* Augmentez la taille pour une animation fluide */
  animation: gradientAnimation 15s ease infinite; /* Applique l'animation */
}

/* Importation des polices locales */
@font-face {
  font-family: "Grotesque";
  src: 
       url("/fonts/BrandonGrotesque-Regular.woff") format("woff"),
       url("/fonts/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Grotesque Black";
  src: 
       url("/fonts/BrandonGrotesque-Black.woff") format("woff"),
       url("/fonts/BrandonGrotesque-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.text {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

header .logo img {
  height: 80px;
  animation: fadeInDown 1s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a.nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
}

nav ul li a.nav-link:hover {
  color: var(--secondary-color);
}

nav ul li a.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-color);
  left: 0;
  bottom: -5px;
  transition: width 0.3s;
}

nav ul li a.nav-link:hover::after {
  width: 100%;
}

#connexion {
  margin-left: 60px;
}

nav button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

nav button:hover {
  background-color: var(--primary-color-hover);
  transform: translateY(-2px);
}

nav button.active {
  background-color: var(--primary-color-hover);
  transform: translateY(-2px);
}

.dark-mode-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-right: 10px;
}

.dark-mode-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 30px;
  transition: background-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.dark-mode-switch .sun-icon,
.dark-mode-switch .moon-icon {
  font-size: 16px;
  color: var(--text-color);
}

.dark-mode-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  /*bottom: 2px;*/
  background-color: var(--text-color);
  transition: transform 0.4s;
  border-radius: 50%;
}

.dark-mode-switch input:checked + .slider:before {
  transform: translateX(30px);
}

.dark-mode-switch input:checked + .slider .sun-icon {
  color: var(--text-color);
}

.dark-mode-switch input:checked + .slider .moon-icon {
  color: var(--text-color);
}

h3 .date {
  color: var(--text-color) !important;
}

/* Styles pour la classe .hero */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: var(--hero-background);
  background-size: 800% 800%; /* Ajouté */
  animation: gradientAnimation 15s ease infinite; /* Ajouté */
  color: var(--hero-text-color);
  position: relative;
  overflow: hidden;
  transition: background 0.3s, color 0.3s;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  animation: fadeInUp 1s;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 3%;
  animation: fadeInUp 1.2s;
}

.hero button, a button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  animation: fadeInUp 1.4s, floating 3s ease-in-out infinite;
}

.hero button:hover, a button:hover {
  background-color: var(--secondary-color-hover);
  transform: translateY(-3px);
}

/* Effet de particules animées */
.hero::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(white 1px, transparent 1%);
  background-size: 10px 10px;
  opacity: 0.1;
  animation: rotateBackground 30s linear infinite, fadeIn 2s;
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation flottante pour les boutons */
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Section Projets */
#projets {
  padding: 80px 10%;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}

#projets h1,
#projets h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: var(--primary-color);
  animation: slideIn 1s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 50px;
}

.filter-button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.filter-button:hover,
.filter-button.active {
  background-color: var(--primary-color-hover);
  transform: scale(1.05);
}

#connexion:hover {
  color: none;
}

#no-projects-message {
  display: none;
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-top: 20px;
}

/* Grille de projets */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

/* Cartes de projet */
.project-card {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInCard 1s;
}

@keyframes fadeInCard {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

/* Image de la carte */
.thumb {
  width: 100%;
  height: 80%;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Informations de la carte */
.infos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  color: var(--text-color);
  padding: 14px 24px;
  transition: height 0.5s ease;
  overflow: hidden;
  background: var(--background-color);
}

.infos .title {
  margin: 10px 0;
  letter-spacing: 3px;
  color: var(--text-color) !important;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1rem !important;
  text-transform: uppercase;
}

.infos .date,
.infos .seats {
  font-size: 0.9rem;
  margin: 5px 0;
  color: var(--text-color);
}

.infos .txt {
  display: none;
  font-size: 0.9rem;
  margin: 10% 0;
  color: var(--text-color);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.infos .details {
  display: none;
  font-size: 1rem;
  margin-top: 10px;
}

.infos a {
  color: var(--button-text-color);
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.infos a:hover {
  background-color: var(--secondary-color-hover);
}

/* Effets au survol */
.project-card:hover .thumb {
  transform: translateY(-100%);
}

.project-card:hover .infos {
  height: 100%;
}

.project-card:hover .infos .txt,
.project-card:hover .infos .date,
.project-card:hover .infos .details {
  display: block;
  animation: fadeInText 0.5s;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card:hover .infos .date {
  color: var(--text-color);
}

.project-card:hover .infos .seats {
  opacity: 0;
}

/* Compatibilité mobile pour les appareils tactiles */
@media (hover: none) and (pointer: coarse) {
  .project-card .thumb {
    transform: translateY(-100%);
  }

  .project-card .infos {
    height: 100%;
  }

  .infos .txt,
  .infos .details {
    display: block;
  }

  .infos .date,
  .infos .seats {
    opacity: 0;
  }
}

/* Styles pour les formulaires de connexion et d'enregistrement */
form {
  background: var(--background-color);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
  animation: fadeInForm 1s;
}

@keyframes fadeInForm {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

form div {
  margin: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--text-color);
}

form button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

form button[type="submit"]:hover {
  background-color: var(--primary-color-hover);
  transform: translateY(-2px);
}

form .form-footer {
  margin-top: 15px;
  text-align: center;
}

form .form-footer a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

form .form-footer a:hover {
  color: var(--primary-color-hover);
}

.notification {
  position: fixed;
  top: 120px;
  right: 20px;
  background-color: #f44336;
  color: var(--button-text-color);
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}
.notification.success {
  background-color: #4caf50;
}

/* Styles pour le menu déroulant */
#dropdownMenu {
  display: none;
  position: absolute;
  top: 78px;
  right: 0;
  background-color: var(--background-color);
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  list-style: none;
  margin: 0;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  transition: background 0.3s;
  visibility: hidden;
}

#dropdownMenu.show {
  display: flex !important;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

#dropdownMenu li {
  width: 90%;
  text-align: center;
  padding-right: 30px;
}

#dropdownMenu li a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  width: 100%;
  padding: 10px 20px;
}

#dropdownMenu li a:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

/* Styles pour le bouton du menu déroulant */
#usernameDropdown {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#usernameDropdown:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

/* CSS pour les commentaires */
.comment-list {
  margin-top: 30px;
  padding: 0;
}

.comment {
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, color 0.3s;
  animation: fadeInComment 1s;
}

@keyframes fadeInComment {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.comment h3 {
  margin-bottom: 15px;
  color: var(--text-color);
}

.comment form {
  display: flex;
  flex-direction: column;
}

.comment textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.comment button {
  align-self: flex-start;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.comment button:hover {
  background-color: var(--primary-color-hover);
  transform: translateY(-2px);
}

.comment-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: var(--text-color);
}

.comment-username {
  color: var(--primary-color);
}

.comment-date {
  font-size: 0.9em;
  color: var(--comment-date-color);
}

.comment-body {
  font-size: 1em;
  color: var(--text-color);
}

.comment-box {
  background-color: var(--comment-box-background);
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  color: var(--text-color);
}

.delete-button {
  background: none;
  border: none;
  color: var(--delete-button-color);
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.1em;
  transition: color 0.3s;
}

.delete-button:hover {
  color: var(--delete-button-hover-color);
}

.delete-button2 {
  background-color: var(--delete-button-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  margin-top: 3%;
  transition: background-color 0.3s;
}

.delete-button2:hover {
  background-color: var(--delete-button-hover-color);
}

.delete-button2 i.fa-trash {
  color: var(--button-text-color);
  margin-right: 5px;
}

.edit-button {
  background-color: var(--secondary-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: var(--secondary-color-hover);
}

.edit-button i.fa-edit {
  margin-right: 5px;
}

.comment {
  position: relative;
}

/* Styles pour les boutons de réaction */
.reactions {
  margin-top: 10px;
}

.reaction-button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
}

.reaction-button .reaction-count {
  margin-left: 5px;
  font-size: 0.9em;
  color: var(--text-color);
}

.reaction-button:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

.reaction-button:hover .reaction-count {
  color: var(--button-text-color);
}

.reaction-button.reacted {
  background-color: var(--secondary-color);
  color: var(--button-text-color);
}

.reaction-button.reacted .reaction-count {
  color: var(--button-text-color);
}

/* Styles pour la page de détail du projet */
.project-detail {
  padding: 40px 10%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.3s;
  animation: fadeInDetail 1s;
}

@keyframes fadeInDetail {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.project-detail img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.project-detail h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  color: var(--text-color);
}

.project-detail p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: center;
  color: var(--text-color);
}

.project-detail a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.project-detail a:hover {
  background-color: var(--primary-color-hover);
}

/* Footer Styles */
.footer {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
  padding-top: 200px;
  position: relative;
  transition: background 0.3s, color 0.3s;
  background-image: url('/images/ft_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  animation: fadeInFooter 1s;
}

@keyframes fadeInFooter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body.dark-mode .footer {
  background-image: none; /* Optionnel : retirer l'image en mode sombre */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 10%;
}

.footer-section {
  flex: 1 1 200px;
  margin: 20px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--footer-text-color);
  position: relative;
}

.footer-section h4::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--secondary-color);
  left: 0;
  bottom: -5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--link-hover-color);
}

.footer-logo-img {
  max-width: 150px;
  margin-bottom: 15px;
  animation: fadeInUp 1s;
}

.footer-description {
  font-size: 14px;
  color: var(--footer-text-color);
  margin-bottom: 20px;
}

.footer-socials a {
  display: inline-block;
  color: var(--link-color);
  text-decoration: none;
  margin-right: 15px;
  font-size: 24px;
  transition: color 0.3s, transform 0.3s;
}

.footer-socials a:hover {
  color: var(--link-hover-color);
  transform: scale(1.1);
}

.bottom-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-footer p {
  margin: 5px 0;
  color: var(--footer-text-color);
  font-size: 14px;
}

.legal-links a {
  color: var(--link-color);
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.legal-links a:hover {
  color: var(--link-hover-color);
}

/* Responsivité */
@media (max-width: 768px) {
  header .logo img {
    height: 60px;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    height: 300px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 20px 0;
    text-align: center;
  }
}

/* Margin adjustments */
#loginForm,
#registerForm,
#contact,
#about,
.project-detail,
#titleCreate,
#h1nosprojets {
  margin-top: 10%;
}

#h1nosprojets,
#termsofservice,
#privacypolicy,
#profiletitle {
  margin-top: 6%;
}

#titleCreate {
  text-align: center;
}

#linkprojects {
  margin: 2%;
}

p.txt {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}
