//- all.pug

extends ../layout

block content
  section.text
    h1#all-shop Tout le Magasin DIYable
    p Découvrez l'ensemble de notre gamme de produits DIYable. Que vous recherchiez des kits de démarrage, des outils de haute qualité, des accessoires indispensables ou des projets inspirants, vous trouverez tout ce dont vous avez besoin pour réaliser vos créations DIY avec succès.

    h2 Tous Nos Produits


    h2 Comment Commander
    p Commander sur **Tout le Magasin DIYable** est simple et rapide. Suivez ces étapes pour acquérir vos produits préférés :
    ol
      li Parcourez l'ensemble de nos produits et sélectionnez ceux qui correspondent à vos besoins.
      li Cliquez sur "Voir Détails" pour obtenir plus d'informations sur chaque produit.
      li Ajoutez les produits à votre panier en cliquant sur le bouton "Ajouter au Panier".
      li Procédez au paiement sécurisé et attendez la livraison directement chez vous.

    h2 Témoignages
    .testimonials
      .testimonial
        p "J'ai trouvé tout ce dont j'avais besoin sur **Tout le Magasin DIYable**. La qualité des produits est exceptionnelle et le service client est réactif." - *Marie D.*
      .testimonial
        p "La navigation sur la page 'Tout le Magasin' est très intuitive. J'ai pu trouver rapidement les outils et accessoires dont j'avais besoin pour mon projet." - *Jean M.*
      //- Ajoutez autant de témoignages que souhaité

    h2 FAQ
    h3 Comment trouver rapidement un produit spécifique?
    p Utilisez la barre de recherche en haut de la page ou filtrez les produits par catégorie pour trouver rapidement ce que vous cherchez.

    h3 Quels sont les modes de paiement acceptés?
    p Nous acceptons les paiements par carte de crédit, PayPal, et virement bancaire sécurisé. Pour plus de détails, veuillez consulter notre [Politique de Remboursement](/refund-policy).

    h3 Quelle est la politique de retour pour les produits achetés via "Tout le Magasin"?
    p Veuillez consulter notre [Politique de Remboursement](/refund-policy) pour plus d'informations sur les retours et remboursements.

    p Prêt à explorer l'ensemble de nos produits? [Visitez notre boutique](/shop) et commencez votre aventure DIY avec **diyable** dès aujourd'hui !

block scripts
  script(src="/script.js")
