//- projets.pug

extends ../layout

block content
  section.text
    h1#h1projets Nos Projets DIYable
    p Découvrez une sélection de projets DIYable passionnants. Que vous soyez débutant ou expérimenté, trouvez des idées inspirantes pour vos prochaines créations.

    //- Section de filtrage par catégorie
    h2 Filtrer par Catégorie


    //- Liste des projets
    h2 Tous Nos Projets


block scripts
  script(src="/script.js")
